<center><h1 class="headerbig">All Contacts</h1></center>

<center><ol>
<% Contact.all.each do |contact| %>
  <center><li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %></li></center>
<% end %>
</ol></center>
