<center><h1 class="headerbig">All Contacts</h1></center>

<ol>
<% Contact.all.each do |contact| %>
  <li>Name: <%= contact.first_name %> <%= contact.last_name %> Email: <%= contact.email %> ID: <%= contact.id %></li><br>
<% end %>
</ol>
