<h1>All Contacts</h1>

<ol>
<% Contact.all.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %></li>
<% end %>
</ol>
<a href="/">Go Home</a>
<a href="/new_contact">Add another Contact</a>
