<center><h1 id="header_delete">Delete a Contact</h1></center>
<!-- This is the delete fields and button-->
<h1 id="small_header_delete">Input ID of Contact</h1>
<form action='/delete_page' method='post'>
  <input type='text' name='attribute_delete'>
  <input type='submit' value='Delete Contact'>
</form>
