<!DOCTYPE html>
<html>
  <head>
    <title>My first erb</title>
    <link rel="stylesheet" href="styles.css" charset="utf-8">
  </head>
  <header>
    <center><img src="http://vignette2.wikia.nocookie.net/sw1mush/images/6/60/Emblem_rebel_phoenix.png/revision/latest?cb=20060818195550"></center>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/new_contact">Add Contact</a></li>
    </ul>
  </nav>
  </header>

<!-- where individual views should render-->
  <body>
    <%= yield %>
  </body>
</html>
