<!DOCTYPE html>
<html>
  <head>
    <title>My first erb</title>
    <link rel="stylesheet" href="/styles.css" charset="utf-8">
  </head>
  <header>
    <img src="http://image000.flaticon.com/icons/svg/148/148730.svg" style="width: 75px; margin-bottom: 20px; margin-top: 20px; margin-left: 50%;">

    <nav>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/new_contact">Add Contact</a></li>
      <li><a href="/delete_page">Delete Contact</a></li>

    </ul>
  </nav>
  </header>

<!-- where individual views should render-->
  <body>
    <%= yield %>
  </body>
</html>
