body {
    background: url("http://www.wallmisc.com/media/34709_15_2560_1440-view?resolution=2560x1440&file=MTkyMHgxMDgwLzIwMTMwMjExL25pbnRlbmRvIHZpZGVvIGdhbWVzIGJsYWNrIGJhY2tncm91bmQgbmVzIDE5MjB4MTA4MCB3YWxscGFwZXJfd3d3LndhbGwzMjEuY29tXzY1LmpwZw==&name=bmludGVuZG9fdmlkZW9fZ2FtZXNfYmxhY2tfYmFja2dyb3VuZF9uZXNfMTkyMHgxMDgwX3dhbGxwYXBlcg==") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      }

.headerbig {
  color: #947303;
  text-align: center;
  font-family: monospace, sans-serif;;
}

.headersmall {
  color: grey;
  font-family: monospace;
  background-color: white;
  margin-right: 75%;
}

ol {
  color: white;
  font-family: monospace, sans-serif;
  background-color: goldenrod;
  margin-right: 70%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00CC5C;
  margin-right: 50%;
}


li {
  float: left;

}

li a {

  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: solid;
  font-family: monospace, sans-serif;

}

li a:hover {
  background-color: #EBBA16;
}

.para {
  color: white;
}

a {
  color: yellow;
}

.logo {
  height: 60px;
  width: 60px;
}

#header_delete {
  color: white;
  font-family: monospace, sans-serif;
}

#small_header_delete {
  color: white;
  font-family: monospace, sans-serif;
  font-size: 20px;
}
